openapi: 3.0.3
info:
  title: SYRA x402 API
  description: |
    **Canonical x402 resource URLs** match `GET https://api.syraa.fun/.well-known/x402` (this file lists the same path set; remove endpoints not in well-known for integration testing).

    Flow: first request may return **402 Payment Required**; sign USDC on Solana or Base and retry with `X-Payment` or `PAYMENT-SIGNATURE`.

    **Nansen, Exa, crawl, browser-use, Jupiter swap, pump.fun, 8004 reads, etc.** are available via `GET /agent/tools` and `POST /agent/tools/call` (not listed as paths here).
  version: 2.0.0
  contact:
    name: SYRA API
    url: https://docs.syraa.fun

servers:
  - url: https://api.syraa.fun
    description: Production

security: []

tags:
  - name: Core
    description: Health, news, signal, sentiment, X
  - name: Analytics
    description: Analytics summary, arbitrage
  - name: MPP
    description: MPP v1 test lane
  - name: Agent
    description: Migrated and partner tools (separate from paths below)

paths:
  /health:
    get:
      tags: [Core]
      summary: API health
      operationId: healthGet
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }
    post:
      tags: [Core]
      summary: API health (POST)
      operationId: healthPost
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /mpp/v1/health:
    get:
      tags: [MPP]
      summary: MPP x402 health
      operationId: mppHealthGet
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }
    post:
      tags: [MPP]
      summary: MPP x402 health (POST)
      operationId: mppHealthPost
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /brain:
    get:
      tags: [Core]
      summary: Syra Brain (GET)
      operationId: brainGet
      parameters:
        - name: question
          in: query
          required: false
          schema: { type: string }
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }
    post:
      tags: [Core]
      summary: Syra Brain (POST)
      operationId: brainPost
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /news:
    get:
      tags: [Core]
      summary: Crypto news
      operationId: news
      parameters:
        - name: ticker
          in: query
          schema: { type: string }
          description: Optional ticker (BTC, ETH, SOL) or general
      responses:
        "200": { description: News list }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /signal:
    get:
      tags: [Core]
      summary: Trading signal
      operationId: signal
      parameters:
        - name: token
          in: query
          schema: { type: string }
      responses:
        "200": { description: Signal }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /sentiment:
    get:
      tags: [Core]
      summary: Sentiment
      operationId: sentiment
      parameters:
        - name: ticker
          in: query
          schema: { type: string }
      responses:
        "200": { description: Sentiment }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /event:
    get:
      tags: [Core]
      summary: Crypto events
      operationId: event
      parameters:
        - name: ticker
          in: query
          schema: { type: string }
      responses:
        "200": { description: Events }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /trending-headline:
    get:
      tags: [Core]
      summary: Trending headlines
      operationId: trendingHeadline
      parameters:
        - name: ticker
          in: query
          schema: { type: string }
      responses:
        "200": { description: Headlines }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /sundown-digest:
    get:
      tags: [Core]
      summary: Sundown digest
      operationId: sundownDigest
      responses:
        "200": { description: Digest }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /arbitrage:
    get:
      tags: [Analytics]
      summary: Arbitrage snapshot
      operationId: arbitrageGet
      parameters:
        - name: limit
          in: query
          schema: { type: integer, minimum: 1, maximum: 25 }
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }
    post:
      tags: [Analytics]
      summary: Arbitrage snapshot (POST)
      operationId: arbitragePost
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /analytics/summary:
    get:
      tags: [Analytics]
      summary: Analytics summary
      operationId: analyticsSummary
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /x:
    get:
      tags: [Core]
      summary: X (Twitter) API
      operationId: xGet
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }
    post:
      tags: [Core]
      summary: X (Twitter) API (POST)
      operationId: xPost
      responses:
        "200": { description: OK }
        "402": { $ref: "#/components/responses/PaymentRequired" }

  /agent/tools:
    get:
      tags: [Agent]
      summary: List agent x402 tool ids (no payment)
      operationId: agentToolsList
      responses:
        "200": { description: Tool list }

  /agent/tools/call:
    post:
      tags: [Agent]
      summary: Invoke agent tool (exa, Nansen, crawl, etc.)
      operationId: agentToolsCall
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [anonymousId, toolId]
              properties:
                anonymousId: { type: string }
                toolId: { type: string }
                params: { type: object, additionalProperties: true }
      responses:
        "200": { description: OK }
        "402": { description: Payment required for paid tools }
        "4xx": { description: Error }

components:
  responses:
    PaymentRequired:
      description: Payment required (x402). Body contains payment details (network, amount, payTo, etc.). Sign payment and retry with X-Payment or PAYMENT-SIGNATURE header.
      content:
        application/json:
          schema:
            type: object
            description: x402 payment requirement (structure may include paymentRequired, accepts, x402Version, etc.)
